@using Dominio

@{
    ViewData["Title"] = "Publicaciones";
}

<!-- Formulario de búsqueda -->
<div class="row py-3">
    <div class="col-6">
        <label class="form-label" for="txtNombre">Buscar</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input class="form-control" type="text" id="txtNombre" placeholder="Escribe aquí para buscar..." aria-describedby="basic-addon1" />
        </div>
    </div>
    
    <div class="col-6">
        <label class="form-label" for="selectEstado">Filtrar por estado</label>

        <select id="selectEstado" class="form-select">
            <option value="0" selected>Cualquiera</option>
            <option value="1">Abierta</option>
            <option value="2">Cerrada</option>
            <option value="3">Cancelada</option>
        </select>
    </div>
    
</div>

<!-- Tabla de resultados -->
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody id="tablaPublicaciones">
        
    </tbody>
</table>

<script>
    document.getElementById("txtNombre").addEventListener("input", ActualizarTabla);
    document.getElementById("selectEstado").addEventListener("change", ActualizarTabla);

    ActualizarTabla();

    function ActualizarTabla() {
        const nombre = document.getElementById("txtNombre").value;
        const estado = document.getElementById("selectEstado").value;

        // Hago la petición de manera asíncrona para que no se reinicie la página.
        fetch(`/Publicaciones/Buscar?estado=${estado}&nombre=${nombre}`)
            // Obtengo la respuesta y la transformo en texto.
            .then(response => response.text())

            // Obtengo el texto y lo inserto en la tabla.
            .then(html => {
                document.getElementById("tablaPublicaciones").innerHTML = html;
            })

            // En caso de error, lo muestro en consola.
            .catch(error => console.error("Error al cargar publicaciones:", error));
    }
</script>