@model List<Publicacion>
@using Dominio

@foreach (Publicacion p in Model)
{
    <tr>
        <td>@p.Nombre</td>
        <td>$@p.CalcularPrecio()</td>
        <td>@p.Estado</td>
        <td><a href="/Publicaciones">Botón (S/I)</a></td>
    </tr>
}

@if (Model.Count == 0)
{
    <tr>
        <td class="text-center" colspan="4">No se encontraron resultados</td>
    </tr>
}