@{
    ViewData["Title"] = "403";
}

<section style="height: 25vw;" class="row">
    <div class="col-5 d-flex align-items-end justify-content-end">
        <i style="font-size: 250px;" class="fa-solid fa-lock"></i>
    </div>

    <div class="col"></div>

    <div class="col-6 d-flex flex-column justify-content-end mt-5">
        <h1 style="font-size: 85px;" class="text-danger">403</h1>
        <h2>Acceso no autorizado</h2>
        <h6 class="m-0">No tienes permisos para acceder a esta página.</h6>
    </div>
</section>